.sidebar{
  width: 15%;
  height: 600px;
  float: left;
  margin: 10px;
  font-size: 16px;
}
.article{
  width: 51%;
  height: 600px;
  background-color: #eee;
  float: left;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
.inline{
  display: inline;
}
.line-height40{
  line-height: 34px;
}
.bar{
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.data{
  height: 150px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  padding-left: 10px;
}
#content span{
  margin-right: 10px;
}
#content p{
  color: #aaa;
  text-indent: 30px;
  overflow: hidden;
}
