header
  #navigation.navbar.navbar-default(role="navigation")
    .navbar-header
      a#logo.navbar-brand(href='/')
        .logo
          img(src="/images/logo.png")
    .offline
      ul#navigation-list.nav.navbar-nav.navbar-right
        li
          a(href='/') 课程
        li
          a(href='/login') 登录
        li
          a(href='/register') 注册
    .online
      ul#navigation-list.nav.navbar-nav.navbar-right
        li
          a(href='/') 课程
        li.dropdown
          a.dropdown-toggle(href='#')(data-toggle="dropdown")
            .userInfo
              b.caret
          ul.dropdown-menu
