header
  #navigation.navbar.navbar-default(role="navigation")
    .navbar-header
      a#logo.navbar-brand(href='/')
        .logo
          img(src="/images/logo.png")
        span.h4 数据交易平台
    ul#main.nav.navbar-nav
      li
        a(href='/') 数据仓库
      li
        a(href='/data/upload') 供应数据
    .offline
      ul#navigation-list.nav.navbar-nav.navbar-right
        li
          a(href='/login') 登录
        li
          a(href='/register') 注册
    .online
      ul#navigation-list.nav.navbar-nav.navbar-right
        li.dropdown
          a.userInfo
        li
          a(href='/logout') 注销