<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>购买数据</title>
  <link rel="stylesheet" href="/css/buy.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
  <div class="center">
    <h4>确认订单：</h4>
    <table class="table">
      <tr>
        <td>商品名</td>
        <td>单价</td>
        <td>数量</td>
        <td>小计</td>
      </tr>
      <tr>
        <td>数据1</td>
        <td>￥100.00</td>
        <td>1</td>
        <td>￥100.00</td>
      </tr>
    </table>
    <br/>
    <div class="h4 col-md-offset-9">
      订单总价：￥100.00
    </div>
    <div class="col-md-offset-9">
      <input type="button" class="btn-danger certain" value="确定">
    </div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js" />
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" />
</body>
</html>
