extends layout
block head
  link(rel="stylesheet", href="/css/buy.css")

block content
  .center
    h4 确认订单：
    table.table
      tr
        td 商品名
        td 单价
        td 数量
        td 小计
      tr
        td #{data.title}
        td ￥#{data.price}
        td 1
        td ￥#{data.price}

    .h4.col-md-offset-9
      |订单总价：￥#{data.price}
    .col-md-offset-9
      input(type="button", value="确定", id="download").btn-danger.certain

block foot
  script(src="/js/buy.js")