<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>数据信息</title>
  <link rel="stylesheet" href="/css/data-info.css" />
  <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
  <article class="center">
    <ol class="breadcrumb">
      <li><a href="#">所有数据</a></li>
      <li><a href="#">计算机科学</a></li>
      <li class="active">语言文件</li>
    </ol>
    <section id="info" class="col-sm-12 border">
      <h1>数据标题</h1>
      <div>
        <ul class="col-sm-9">
          <li class="col-sm-6">数据价格：￥100</li>
          <li class="col-sm-6">数据大小：100M</li>
          <li class="col-sm-6">发布时间：2015-03-04</li>
          <li class="col-sm-6">发布者：F.Skye</li>
        </ul>
        <input type="button" class="btn-danger" value="购买" />
      </div>
    </section>
    <section id="content" class="col-sm-12 panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">数据介绍：</h3>
      </div>
      <p>本数据库为实验室自建数据库，13中噪声测试数据 SNR范围（-5db~15dB），采样率8KHz，
        16位。纯净语音sp1~sp30取自NOIZEUS数据库，噪声数据取自NOISEX-92数据库，噪声按照
        设定的信噪比由标准语音信号处理软件添加进纯净语音，形成13种噪声测试数据，噪声包括：
        white','hfchannel','f16','pink','babble','leopard','volvo',
        'destroyerops','factory1','m109','buccaneer1','buccaneer2'等噪声，该数据
        集涵盖面广，数据量大，数据保障正确。可以作为发表语音增强国际SCI论文的标准测试数据。
      </p>
      <input type="button" class="btn-danger col-sm-offset-9" value="购买" />
    </section>
  </article>
  <script src="../public/bower_components/jquery/dist/jquery.min.js" />
  <script src="../public/bower_components/bootstrap/dist/js/bootstrap.min.js" />
</body>
</html>
