extends layout
block head
  link(rel='stylesheet', href='/css/data-info.css')

block content
  article.center
    ol.breadcrumb
      li
        a(href="#")所有数据
      li
        a(href="#")计算机科学
      li.active
        a(href='#')语言文件
    section#info.col-sm-12.border
      h1数据标题
      div
        ul.col-sm-9
          li.col-sm-6数据价格：￥100
          li.col-sm-6数据大小：100M
          li.col-sm-6发布时间：2015-03-04
          li.col-sm-6发布者：F.Skye
        input(type="button", value="购买").btn-danger
    section#content.col-sm-12.panel.panel-default
      .panel-heading
        h3.panel-title数据介绍：
      p本数据库为实验室自建数据库，13中噪声测试数据 SNR范围（-5db~15dB），采样率8KHz，
        |16位。纯净语音sp1~sp30取自NOIZEUS数据库，噪声数据取自NOISEX-92数据库，噪声按照
        |设定的信噪比由标准语音信号处理软件添加进纯净语音，形成13种噪声测试数据，噪声包括：
        |white','hfchannel','f16','pink','babble','leopard','volvo',
        |'destroyerops','factory1','m109','buccaneer1','buccaneer2'等噪声，该数据
        |集涵盖面广，数据量大，数据保障正确。可以作为发表语音增强国际SCI论文的标准测试数据。
      input(type="button", value="购买").btn-danger.col-sm-offset-9

block foot
