extends layout
block head
  link(rel='stylesheet', href='/css/index.css')

block content
  aside.sidebar.panel.panel-info.col-sm-offset-2
    header.panel-heading领域分类
    ul.list-group
      li.panel-body.list-group-item分类1
      li.panel-body.list-group-item分类2
      li.panel-body.list-group-item分类3
      li.panel-body.list-group-item分类4
      li.panel-body.list-group-item分类5
      li.panel-body.list-group-item分类6
  article.article
    section.bar
      .line-height40
        strong标价方式：
        .inline
          a(href="#") 全部
          a(href="#") 免费
          a(href="#") 收费
      .line-height40
        strong数据格式：
        .inline
          a(href="#") 全部
          a(href="#") 文本
          a(href="#") 视频
      .line-height40
        strong数据大小：
        .inline
          a(href="#") 全部
          a(href="#") 100M以下
          a(href="#") 100M-500M
          a(href="#") 500M-1G
          a(href="#") 1G以上
    section.data
      h4数据标题
      #content
        span数据标价：
          a(href="#") 100
        span数据大小：
          a(href="#") 100M
        span时间：
          a(href="#") 2015-03-04
        p数据内容数据内容数据内容数据内容数据内容数据内容数据内容数据内容,数据内容数据内容,数据内容数据内容数据内容数,据内容数据内容,数据内容
        span发布人：
          a(href="#") F.Skye
    section.data
      h4数据标题
      #content
        span数据标价：
          a(href="#") 100
        span数据大小：
          a(href="#") 100M
        span时间：
          a(href="#") 2015-03-04
        p数据内容数据内容数据内容数据内容数据内容数据内容数据内容数据内容,数据内容数据内容,数据内容数据内容数据内容数,据内容数据内容,数据内容
        span发布人：
          a(href="#") F.Skye
    section.data
      h4数据标题
      #content
        span数据标价：
          a(href="#") 100
        span数据大小：
          a(href="#") 100M
        span时间：
          a(href="#") 2015-03-04
        p数据内容数据内容数据内容数据内容数据内容数据内容数据内容数据内容,数据内容数据内容,数据内容数据内容数据内容数,据内容数据内容,数据内容
        span发布人：
          a(href="#") F.Skye
