doctype html
html
    head
        meta(charset='utf-8')
        |
        title &#x6570;&#x636E;&#x4EA4;&#x6613;&#x4E2D;&#x5FC3;
        |
        link(rel='stylesheet', href='/css/index.css')
        |
        link(rel='stylesheet', href='/public/bower_components/bootstrap/dist/css/bootstrap.min.css')
    body
        aside.sidebar.panel.panel-info.col-sm-offset-2
            header.panel-heading &#x9886;&#x57DF;&#x5206;&#x7C7B;
            |
            ul.list-group
                li.panel-body.list-group-item &#x5206;&#x7C7B;1
                |
                li.panel-body.list-group-item &#x5206;&#x7C7B;2
                |
                li.panel-body.list-group-item &#x5206;&#x7C7B;3
                |
                li.panel-body.list-group-item &#x5206;&#x7C7B;4
                |
                li.panel-body.list-group-item &#x5206;&#x7C7B;5
                |
                li.panel-body.list-group-item &#x5206;&#x7C7B;6
        |
        article.article
            section.bar
                .line-height40
                    strong &#x6807;&#x4EF7;&#x65B9;&#x5F0F;&#xFF1A;
                    |
                    .inline
                        a(href='#') &#x5168;&#x90E8;
                        |
                        a(href='#') &#x514D;&#x8D39;
                        |
                        a(href='#') &#x6536;&#x8D39;
                |
                .line-height40
                    strong &#x6570;&#x636E;&#x683C;&#x5F0F;&#xFF1A;
                    |
                    .inline
                        a(href='#') &#x5168;&#x90E8;
                        |
                        a(href='#') &#x6587;&#x672C;
                        |
                        a(href='#') &#x89C6;&#x9891;
                |
                .line-height40
                    strong &#x6570;&#x636E;&#x5927;&#x5C0F;&#xFF1A;
                    |
                    .inline
                        a(href='#') &#x5168;&#x90E8;
                        |
                        a(href='#') 100M&#x4EE5;&#x4E0B;
                        |
                        a(href='#') 100M-500M
                        |
                        a(href='#') 500M-1G
                        |
                        a(href='#') 1G&#x4EE5;&#x4E0A;
            |
            section.data
                h4 &#x6570;&#x636E;&#x6807;&#x9898;
                |
                #content
                    span
                        | &#x6570;&#x636E;&#x6807;&#x4EF7;&#xFF1A;
                        a(href='#') 100
                    |
                    span
                        | &#x6570;&#x636E;&#x5927;&#x5C0F;&#xFF1A;
                        a(href='#') 100M
                    |
                    span
                        | &#x65F6;&#x95F4;&#xFF1A;
                        a(href='#') 2015-03-04
                    |
                    p
                        | &#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;
                        | &#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;,&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;
                    |
                    span
                        | &#x53D1;&#x5E03;&#x4EBA;&#xFF1A;
                        a(href='#') F.Skye
            |
            section.data
                h4 &#x6570;&#x636E;&#x6807;&#x9898;
                |
                #content
                    span
                        | &#x6570;&#x636E;&#x6807;&#x4EF7;&#xFF1A;
                        a(href='#') 100
                    |
                    span
                        | &#x6570;&#x636E;&#x5927;&#x5C0F;&#xFF1A;
                        a(href='#') 100M
                    |
                    span
                        | &#x65F6;&#x95F4;&#xFF1A;
                        a(href='#') 2015-03-04
                    |
                    p
                        | &#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;
                        | &#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;,&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;
                    |
                    span
                        | &#x53D1;&#x5E03;&#x4EBA;&#xFF1A;
                        a(href='#') F.Skye
            |
            section.data
                h4 &#x6570;&#x636E;&#x6807;&#x9898;
                |
                #content
                    span
                        | &#x6570;&#x636E;&#x6807;&#x4EF7;&#xFF1A;
                        a(href='#') 100
                    |
                    span
                        | &#x6570;&#x636E;&#x5927;&#x5C0F;&#xFF1A;
                        a(href='#') 100M
                    |
                    span
                        | &#x65F6;&#x95F4;&#xFF1A;
                        a(href='#') 2015-03-04
                    |
                    p
                        | &#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;
                        | &#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;&#x6570;,&#x636E;&#x5185;&#x5BB9;&#x6570;&#x636E;&#x5185;&#x5BB9;,&#x6570;&#x636E;&#x5185;&#x5BB9;
                    |
                    span
                        | &#x53D1;&#x5E03;&#x4EBA;&#xFF1A;
                        a(href='#') F.Skye
        |
        script(src='../public/bower_components/jquery/dist/jquery.min.js')
