doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

    link(rel='stylesheet', href='/css/header.css')
    link(rel='stylesheet', href='/css/footer.css')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    block head
  body
    include partials/_header.jade
    block content
    include partials/_footer.jade

  block foot
