extends layout
block head
<!DOCTYPE html>
  link(href='/css/register.css' rel='stylesheet')

block content
  form.form-horizontal
    .center
      h1.col-sm-offset-4用户登陆
      .form-group
        label(for="name").col-sm-4.control-label.font18账号：
          .col-sm-7
            input#name.form-control(type="text")
      .form-group
        label(for="password").col-sm-4.control-label.font18密码：
        .col-sm-7
          input#password.form-control(type="password")
      .form-group
        label.col-sm-4.control-label.font18(for='verification')验证码：
        .col-sm-3
          input#verification(type="text").form-control
        a.col-sm-3
          img(src="" alt)
        a.col-sm-2.line-height40换一换
      .form-group.mrbt10
        .col-sm-6.col-sm-offset-3
          input(type="button" value="登陆").form-control.btn-primary
block foot
