extends layout
block head
  link(href='/css/register.css' rel='stylesheet')

block content
  form.form-horizontal
    .center
      h1.col-sm-offset-4用户登陆
      .form-group
        label(for="name").col-sm-4.control-label.font18账号：
        .col-sm-7
          input(type="text")#name.form-control
      .form-group
        label(for="password").col-sm-4.control-label.font18密码：
        .col-sm-7
          input#password.form-control(type="password")
      .form-group.mrbt10.mrt20
        .col-sm-6.col-sm-offset-3
          input(type="button" value="登陆").form-control.btn-primary
block foot
