<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>上传数据</title>
  <link rel="stylesheet" href="/css/upload.css" />
  <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
  <form class="center">
    <div class="form-group">
      <label class="col-md-12" for="name">数据名称：</label>
      <div class="form-group col-md-10">
        <input type="text" id="name" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-11" for="intro">数据介绍：</label>
      <div class="form-group col-md-10">
        <textarea id="intro" rows="10" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-11">数据格式</label>
      <div class="form-group col-md-2">
        <label class="radio-inline" for="text"><input type="radio" name="form" id="text" value="text">文本</label>
      </div>
      <div class="form-group col-md-2">
        <label class="radio-inline" for="video"><input type="radio" name="form" id="video" value="video">视频</label>
      </div>
      <div class="form-group col-md-2">
        <label class="radio-inline" for="image"><input type="radio" name="form" id="image" value="image">图像</label>
      </div>
      <div class="form-group col-md-2">
        <label class="radio-inline" for="music"><input type="radio" name="form" id="music" value="music">语言</label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-11">领域</label>
      <div class="form-group col-md-3">
        <select class="form-control">
          <option>分类1</option>
          <option>分类1</option>
          <option>分类1</option>
          <option>分类1</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <select class="form-control">
          <option>分类1</option>
          <option>分类1</option>
          <option>分类1</option>
          <option>分类1</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <select class="form-control">
          <option>分类1</option>
          <option>分类1</option>
          <option>分类1</option>
          <option>分类1</option>
        </select>
      </div>
    </div>
    <div>
      <label class="col-md-11">数据标价：</label>
      <div class="form-group col-md-5">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group col-md-2">
        <input type="button" value="上传" class="btn-danger upload">
        <input type="file" class="file">
      </div>
      <div class="col-md-3">请压缩后上传，支持*.rar,*.zip格式，文件大小最大为XXXM</div>
    </div>
    <div class="from-group publish">
      <input type="button" class="form-control btn-danger" value="发布">
    </div>
  </form>
  <script src="/bower_components/jquery/dist/jquery.min.js" />
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" />
</body>
</html>
