.center{
  height: 700px;
  width: 68%;
  margin: 10px auto;
}
.border{
  border: 1px solid #DDD;
}
#info, #content{
  padding-bottom: 15px;
  color: #777;
}
#info h1{
  text-align: center;
}
#info ul{
  text-align: center;
  list-style: none;
  letter-spacing: 2px;
  font-size: 16px;
}
input[type="button"]{
  width: 100px;
  height: 50px;
  font-size: 20px;
}
#content p{
  text-indent: 30px;
  color: #777;
  word-break: break-all;
  font-size: 16px;
  padding: 10px 0;
  line-height: 25px;
}
