a{
  color: #333;
}
a:hover{
  text-decoration: none;
}
.sidebar{
  width: 15%;
  height: 700px;
  position: relative;
  font-size: 16px;
}
.article{
  width: 60%;
  height: 700px;
  background-color: #eee;
  position: absolute;
  left: 25%;
  top: 100px;
  padding: 10px;
  font-size: 16px;
}
.list-group-item:hover{
  cursor: pointer;
  background: #0074D9;
}
.pageCenter{
  text-align: center;
}
.bar{
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.data{
  height: 105px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  padding-left: 10px;
}
.data:hover{
  cursor: pointer;
}
#content span{
  margin-right: 10px;
}
#content p{
  color: #888;
  text-indent: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
